
@model IEnumerable<HD_proj.Models.Duan>

<table id="users" class="table nowrap table-bordered table-striped mt-5 table-data">
    <thead>
        <tr>
            <th>Tài khoản</th>
            <th>Tên</th>
            <th>Quyền</th>
            <th>Phòng ban</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item != null)
            {
                <tr>
                   
                </tr>
            }
        }

    </tbody>
</table>

